
@media only screen and (max-width: 900px) {
    .search-bar form {
        display: block;
    }
    .input-container {
        width: 90%;
        margin: 0 auto
    }
    .search-bar form button {
        width: 90%;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
    }
}
