
.results {
    width: 100vw;
    height: 100vh;
    background-color: #f3f3f3;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
.results h2 {
    text-align: center;
    color: #e95a5c;
    font-size: 40px;
    margin-bottom: 30px;
}

