
.search-bar {
    width: 100%;
    max-width: 650px;
}
.search-bar form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.input-container {
    height: 45px;
    width: 75%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.input-container input {
    height: 80% !important;
    width: 90% !important;
}
.search-bar form button {
    width: 20%;
    height: 45px;
    background-color: #e95a5c;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}
